<div class="file-upload-field">
  <input
    type="file"
    class="file-upload-field__input"
    (change)="onFileChange($event)"
    appDnd
  />
  <div
    class="file-upload-field__icon"
    [ngStyle]="{ backgroundImage: fileUrl ? 'url(' + fileUrl + ')' : 'none' }"
  >
    <feather-icon
      [name]="isUploading ? 'loader' : 'upload'"
      class="icon"
      [ngClass]="{ 'icon--animate': isUploading }"
    ></feather-icon>
  </div>
  <div class="file-upload-field__label">
    {{ isUploading ? "Uploading..." : label }}
  </div>
</div>
