<form class="configure-portfolio">
  <div class="configure-portfolio__title">Configure Portfolio Website</div>
  <app-customfield
    label="Website Title"
    [(value)]="config.siteTitle"
  ></app-customfield>
  <app-customfield label="Tagline"></app-customfield>
  <app-customfield
    [required]="true"
    label="Portfolio Handle"
    [sufixIcon]="handleValidationProgress ? 'loader' : handleStateIndicator"
    [sufixIconColor]="handleValidationProgress ? 'blue' : handleStateColor"
    [ngClass]="{ 'rotate-sufix-icon': handleValidationProgress }"
    [(value)]="config.portfolioHandle"
    (valueChange)="onHandleChange($event)"
  ></app-customfield>
  <app-file-upload-field
    label="Upload Fav Icon"
    [(fileUrl)]="config.favicon"
  ></app-file-upload-field>
</form>
