<app-navbar></app-navbar>
<form class="login-form" (submit)="authenticateUser($event)">
  <div class="login-form__title">Log in</div>
  <app-customfield label="Email" [(value)]="email"></app-customfield>
  <app-customfield label="Password" [(value)]="password"></app-customfield>
  <button
    type="submit"
    mat-flat-button
    color="primary"
    class="login-form__button"
  >
    Log in
  </button>
</form>
<div class="login-hints">
  <a class="login-hints__hint"> Forgot password? </a>
  <a class="login-hints__hint">Don't have an account? Sign up</a>
</div>
