<form class="connect-social">
  <div class="connect-social__title">Choose Your Profession</div>
  <div class="connect-social__list">
    <div class="connect-social__list-item" *ngFor="let handle of handles">
      <div class="connect-social__list-item-icon">
        <i-feather [name]="handle.icon" class="icon"></i-feather>
      </div>
      <div class="connect-social__list-item-input">
        <app-customfield [(value)]="handle.link"></app-customfield>
      </div>
      <div
        class="connect-social__list-item-check"
        [ngClass]="{
          'connect-social__list-item-check--disabled': !handle.isChecked
        }"
      >
        <i-feather
          [name]="handle.isChecked ? 'check-circle' : 'circle'"
          class="check-icon"
        ></i-feather>
      </div>
    </div>
  </div>
</form>
