<div class="template-preview">
  <div class="template-preview__holder">
    <div class="template-preview__holder-device">
      <app-template-editor value="Hello World"></app-template-editor>
    </div>
    <app-template-config></app-template-config>
  </div>
  <div class="template-preview__footer">
    <button
      mat-flat-button
      color="primary"
      class="template-preview__footer-button template-preview__footer-button--outline"
    >
      Save
    </button>
    <button
      mat-flat-button
      color="primary"
      class="template-preview__footer-button"
    >
      Save & Launch
    </button>
  </div>
</div>
