@import "../../../../assets/styles/variables.scss";

.custom-field {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  &__label {
    color: $text-color;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    &--required {
      &::after {
        content: "*";
        color: $error-color;
      }
    }
  }
  &__input {
    height: 56px;
    border-radius: 8px;
    background: rgba($color: $primary-color, $alpha: 0.08);
    border: 2px solid $primary-color;
    outline: none;
    padding: 0px 16px;
    font-size: 16px;
    font-weight: 400;
    color: $text-color;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      margin: 0;
    }
    &--with-sufix {
      padding-right: 48px;
    }
    &:disabled {
      background: rgba($color: $primary-color, $alpha: 0.05);
      border: 2px solid rgba($color: $primary-color, $alpha: 0.4);
      color: rgba($color: $text-color, $alpha: 0.8);
    }
    &::placeholder {
      color: $placeholder-color;
    }
  }
  &__sufix {
    cursor: pointer;
    position: absolute;
    height: 24px;
    width: 24px;
    right: 24px;
    bottom: 16px;
  }
}
