<div class="custom-field">
  <label
    class="custom-field__label"
    [ngClass]="{ 'custom-field__label--required': required }"
    [for]="label"
    *ngIf="label"
  >
    {{ label }}
  </label>
  <input
    class="custom-field__input"
    [ngClass]="{ 'custom-field__input--with-sufix': sufixIcon }"
    [id]="label"
    [title]="label"
    [placeholder]="placeholder"
    [(ngModel)]="value"
    [disabled]="disabled"
    [readOnly]="readOnly"
    [type]="type"
  />
  <feather-icon
    [name]="sufixIcon"
    class="custom-field__sufix"
    *ngIf="sufixIcon"
    [ngStyle]="{ color: sufixIconColor ?? 'red' }"
    (click)="onSufixIconClick()"
  ></feather-icon>
</div>
